body, html {
  width: 100%;
  height: 100%;
  min-height: 100%;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #444;
}

.sections, section, #landing > .content, .background {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  overflow: hidden;
}

#landing {
  background: url(../images/photos/kimmo.jpg);
  background-size: cover;
  color: #f4f4f4;
}

/* Dark layer on top of image to make text readable */
#landing > .content {
  background: rgba(0, 0, 0, 0.4);
}

#landing header {
  font-size: 3em;
  text-align: center;
  padding: 50px;
}

#portfolio > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #eee;
}

#portfolio header {
  font-size: 7em;
  text-align: center;
}

#portfolio p {
  margin-top: 20px;
  font-size: 1.5em;
  font-style: italic;
}

.hidden {
  display: none;
  visibility: hidden;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eee;
}

.image > img {
  width: 80%;
  border: 10px solid white;
}


