html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body, html {
  width: 100%;
  height: 100%;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #444;
}

header, p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#landing a:visited {
  color: white;
}

#landing a {
  color: white;
  font-style: italic;
  text-decoration: underline;
}

.sections, section, #landing > .content, .background {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
}

/* Landing section */

#landing {
  min-height: 620px;
  height: 100%;
}

#landing > .content {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  color: white;
}

#landing .social-links {
  position: absolute;
  top: 20px;
  right: 20px;
  display: table;
}

#landing .link-list {
  display: table-cell;
  vertical-align: middle;
}

#landing .link-list li {
  display: inline;
}

#landing .link-list i {
  font-size: 40px;
  color: #888;
  margin-left: 5px;
}

#landing .circle {
  width: 100%;
  height: 100%;
  background: #333;
  position: relative;
}

#landing .scroll:hover {
  cursor: pointer;
}

#landing .scroll {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #888;
}

#landing .background {
  position: absolute;
  width: 100%;
  height: 100%;
}

#landing .logo-author {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#landing header {
  font-size: 6em;
}

#landing p {
  margin-top: 5px;
  font-size: 1.7em;
}

#landing .author {
  font-style: italic;
  opacity: 0;
}

/* Content section */

#images a:visited {
  color: #999;
}

#images a {
  color: #999;
  font-size: 1.4em;
  text-decoration: underline;
  font-style: italic;
  white-space: nowrap;
}

#images > .content {
  padding: 40px 20px 50px 20px;
}

#images header {
  font-size: 3em;
}

#images h2 {
  display: inline-block;
  font-size: 1.6em;
}

#images .right {
  float: right;
  text-align: right;
}

.album {
  margin-top: 65px;
}

.album-header {
  width: 100%;
  margin-left: 3px;
}

.album-header > h2 {
  margin-right: 15px;
  margin-bottom: 5px;
}

.image-grid {
  padding: 20px;
}

.image-grid > .image img:hover {
  cursor: pointer;
}

.image-grid > .image img {
  display:inline-block;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
}

.image-grid > .image > .img-border {
  margin: 20px 20px 0 20px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid #d6d6d6;
}

/* Media queries */


/* Large screens */
@media all and (min-width: 660px) {
  #landing .circle {
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    min-height: 600px;

    -webkit-border-radius: 600px;
    -moz-border-radius: 600px;
    border-radius: 600px;

    border: 1px solid #555;
    background: #333;
  }

  #landing .scroll {
    bottom: 0;
    right: 0;
    background: #666;
  }
  #landing .link-list i {
    color: #666;
  }
}

/* Image grid */
@media all and (max-width: 700px) {
  .image-grid {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
  }
}

/* Narrow screens */
@media all and (max-width: 660px) {
  #landing {
    min-height: 300px;
    font-size: 0.8em;
  }

  #landing .scroll {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }

  #images header {
    font-size: 2.7em;
  }
}

/* Narrower screens */
@media all and (max-width: 400px) {
  #landing {
    min-height: 300px;
    font-size: 0.6em;
  }

  #images header {
    font-size: 2.3em;
  }
}

/* Generic styles */

.opacity-hover {
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.opacity-hover:hover {
  opacity: 0.75;
}

.hidden {
  visibility: hidden;
  display: none;
}
