body, html {
  width: 100%;
  height: 100%;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #444;
}

header, p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.arrow-down {
  width: 500px;
  height: 500px;
  background: url(../images/arrow-down.png);
}

a:visited {
  color: white;
}

a {
  color: white;
  font-style: italic;
  text-decoration: underline;
}

.sections, section, #landing > .content, .background {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  overflow: hidden;
}

#portfolio {
  min-height: 620px;
}

#portfolio > .content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
}

#portfolio .circle {
  width: 100%;
  height: 100%;
  background: #333;
  position: relative;
}

#portfolio .scroll:hover {
  cursor: pointer;
}

#portfolio .scroll {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #666;
}

#portfolio .background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#portfolio header {
  font-size: 7em;
}

#portfolio p {
  margin-top: 5px;
  font-size: 1.7em;
}

.image-grid > .image > img:hover {
  cursor: pointer;
}

.image-grid > .image > img {
   width: 150px;
   height: 150px;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   border-radius: 150px;

   margin-left: 20px;
   margin-top: 20px;
   border: 5px solid #d6d6d6;
}

/* Media queries */

@media all and (min-width: 600px) {
  #portfolio .circle {
    width: 600px;
    height: 600px;
    min-height: 600px;
    -webkit-border-radius: 600px;
    -moz-border-radius: 600px;
    border-radius: 600px;

    border: 1px solid #555;
    background: #333;
  }

  #portfolio .scroll {
    bottom: 10px;
    right: 300px;
    z-index: -1;
  }
}

@media all and (max-width: 600px) {
  #portfolio {
    font-size: 0.8em;
  }
}

@media all and (max-width: 400px) {
  #portfolio {
    font-size: 0.5em;
  }
}

.opacity-hover {
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.opacity-hover:hover {
  opacity: 0.85;
}
